/*Selector {
	Property: value;
}*/
body {background-image: url(https://images.unsplash.com/photo-1676809537630-59f0df6a3322?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTQwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=300&q=60);
	background-size: cover;
}
h1, p, h2 {color: #555100;
	text-align: center;
	border: 5px solid rgba(170, 164, 57,0.5);
	cursor: pointer;
}
p {color: purple;
	line-height: 50px;
	font-style: italic;
	font-weight: bold;
	font-size: 150%;
	font-family: 'Mynerve', cursive;"
}
img{
	float:right;
}
footer {
	clear: both;
	text-align: center;
}
p {color: green;

}
h2{color: #7D2A68 }
li {
	list-style: none;
	display: inline-block;
}
.webtext { 
	border: 5px solid rgba(81, 44, 115,0.2)
}
.active {color: #3F002F;
 }
 #div1{
 	background: rgba(223, 242, 162,0.6);
 }
 #div2{
 	background: rgba(188, 125, 172,);
 }